# expense-tracker/.gitignore
.env
.env.*
node_modules/
/backend/node_modules/
/backend/.env
/backend/.env.*
/frontend/node_modules/
/frontend/.env
/frontend/.env.*
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
/k8s/02-secret.yaml